<link rel="stylesheet" href="/stylesheets/createForm.css">

<form action="/restaurants/{{restaurant._id}}/edit" method="POST" class="create-form">

 <div class="form-group row">
  <label class="col-sm-2 col-form-label">餐廳名稱</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" name="name" placeholder="餐廳名稱" value={{restaurant.name}}>
  </div>
 </div>

 <div class="form-group row">
  <label class="col-sm-2 col-form-label">餐廳英文名</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" name="name_en" placeholder="餐廳英文名" value={{restaurant.name_en}}>
  </div>
 </div>

 <div class="form-group row">
  <label class="col-sm-2 col-form-label">餐廳分類</label>
  <div class="col-sm-10">
    <select class="custom-select my-1 mr-sm-2" name="category">
      <option value={{restaurant.category}} selected>{{restaurant.category}}</option>
      <option value="美式">美式</option>
      <option value="義式餐廳">義式餐廳</option>
      <option value="日本料理">日本料理</option>
      <option value="咖啡">咖啡</option>
      <option value="酒吧">酒吧</option>
      <option value="其他">其他</option>
    </select>
  </div>
 </div>
 
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">餐廳照片</label>
    <div class="col-sm-10">
      <input type="url" class="form-control" name="image" placeholder="請填入照片網址" value={{restaurant.image}}>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">餐廳地點</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="location" placeholder="請填入餐廳門牌" value={{restaurant.location}}>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">餐廳電話</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="phone" placeholder="請填入餐廳電話號碼" value={{restaurant.phone}}>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Google Map位址</label>
    <div class="col-sm-10">
      <input type="url" class="form-control" name="google_map" placeholder="請填入餐廳Goole Map網址" value={{restaurant.google_map}}>
    </div>
  </div>
  
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">餐廳評分</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="rating" placeholder="請填入餐廳評分 0-5分" value={{restaurant.rating}}>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">餐廳詳述</label>
    <div class="col-sm-10">
      <textarea class="form-control" name="description" rows="3" placeholder="請詳述您對餐廳的感想">{{restaurant.description}}</textarea>
    </div>
  </div>

 <div class="form-group row ">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">編輯餐廳</button>
    </div>
 </div>

</form>
